# Sudbury Specific
sudbury_administrator.pub
prod_to_beta_dump
request_id

#   Unwanted Themes  #
######################
/wp-content/themes/*
!/wp-content/themes/bp-business/
!/wp-content/themes/goodnow-library/
!/wp-content/themes/montezuma/
!/wp-content/themes/mywiki/
!/wp-content/themes/sudbury/
!/wp-content/themes/twentynineteen
!/wp-content/themes/virtue/
!/wp-content/themes/virtue-child/

# WP config (comment out if using multi-config)
wp-config.php
wp-config-local.php
wp-config-staging.php
wp-config-prod.php
wp-cli.local.yml

# multi-config specific
wp-config/wp-config.local.php

# tests
/tests/*/vendor

# sudbury specific
/wp-content/themes/sudbury/elections/db_conn.php
last_error_report.json
last_cron.timestamp
lastbackup

# multisite specific
/wp-content/sunrise.php
/wp-content/advanced-cache.php
/wp-content/db.php
/wp-content/object-cache.php

# wordpress specific
#wp-content/uploads/*
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/debug.log
wp-content/managewp/backups/
wp-content/backup-db/
wp-content/updraft/
wp-content/backupwordpress-*/
wp-content/cache/
wp-content/backups/
/wp-content/w3tc-config/
/wp-content/wflogs/
/wp-content/wfcache/
/wp-content/mcc-logs/

# pantheon specific
wp-content/plugins/pantheon-advanced-page-cache
wp-content/mu-plugins/pantheon
wp-content/mu-plugins/pantheon.php
pantheon.upstream.yml
pantheon.yml

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/limit-login-attempts
wp-content/mu-plugins/wpengine-common
wp-content/mysql.sql
wp-content/mu-plugins/mu.php

# Debugging
debug-bar
debug-bar-actions-and-filters-addon
debug-bar-console
debug-bar-constants
debug-bar-cron
debug-bar-custom-info
debug-bar-extender
debug-bar-hook-log
debug-bar-localization
debug-bar-plugin-activation
debug-bar-post-meta
debug-bar-query-count-alert
debug-bar-query-tracer
debug-bar-remote-requests
debug-bar-rewrite-rules
debug-bar-roles-and-capabilities
debug-bar-screen-info
debug-bar-shortcodes
debug-bar-sidebars-widgets
debug-bar-slow-actions
debug-bar-super-globals
debug-bar-taxonomies
debug-bar-timber
debug-bar-tracer
debug-bar-transients
debug-bar-widgets
woocommerce-debug-bar
log-deprecated-notices
user-switching
simply-show-ids
query-monitor

# Sitemaps
sitemap.xml
sitemap.xml.gz

# Robots
robots.txt

# User-specific stuff:
.idea/

## File-based project format:
*.iws

## Plugin-specific files:
# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Logs
*.log
*.log.1
npm-debug.log*
yarn-debug.log*
yarn-error.log*
rspec.xml

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# Deployment config file
deployment-config.json

# Composer auth file
auth.json

# OS generated
bin/
.bundle/

# Search & Replace
search-replace

# Basics
.Spotlight-V100
.Trashes
Icon?
*~
.DS_Store?
.DS_Store
.svn
.cvs
*.bak
*.swp
ehthumbs.db
Thumbs.db
._*
*.un~
*$DATA

# MAMP
.installedExtras
.*.ini

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.jar
*.rar
*.tar
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
*.dat

# Cache files
*.gz
!*.js.gz
*.bz2
.sass-cache

# DB Backups
*.sql
*.sql.gz

WordPress Core
/wp/*
/LICENSE